<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Udemy_Personal_Veri_Tabanı_Yönetimi.Properties.Settings.personalveritabaniConnectionString"
            connectionString="Data Source=DESKTOP-1CU8DQ5;Initial Catalog=personalveritabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>